# Лабораторная работа 6. Основы анализа данных Pandas.

Создайте таблицу

In [7]:
tab = [[3, 1, 2], [4, 5, 6]]

Выведите первую строку:

In [8]:
print(tab[0])

[3, 1, 2]

Подключим библиотеку Pandas

In [9]:
import pandas as pd

Давайте сделаем dataframe из нашей таблицы.

In [10]:
df = pd.DataFrame(tab)

In [11]:
df

   0  1  2
0  3  1  2
1  4  5  6

Выведите первый столбец с заголовками.

In [12]:
df.loc[:, "0":"0"]

   0
0  3
1  4

Выведите первую строку с заголовками.

In [13]:
df.iloc[[0]]

   0  1  2
0  3  1  2

Выведите вторую строку.

In [14]:
df.iloc[[1]]

   0  1  2
1  4  5  6

Загрузим файл в Pandas. Выведите результат.

In [15]:
df = pd.read_csv(
    "lab6_1.csv"
)
df

     task   group10  group2  group3  group4
0  python       1.0     2.0     3.0     2.0
1     c++       2.3     1.2     2.2     1.2
2      c#       2.1     2.3     2.3     2.2
3    java       4.0     2.5     2.5     1.2
4     php       6.0     5.0     4.0     5.0

Верхняя строчка выделена полужирным т.к. рассматривается не как строчка с данными, а как строчка с именами столбцов. К столбцам можно обращаться по имени. Обратитесь к столбцу "group10"

In [16]:
de = df[' group10']
de

0    1.0
1    2.3
2    2.1
3    4.0
4    6.0
Name:  group10, dtype: float64

У строк по умолчанию нет имён, и им присваивются номера (левая полужирная колонка). Можно загрузить файл таким образом, чтобы первый столбец рассматривался как столбец с именами строк.

In [17]:
df = pd.read_csv(
    "lab6_1.csv",
    index_col=0
)

In [18]:
df

         group10  group2  group3  group4
task
python       1.0     2.0     3.0     2.0
c++          2.3     1.2     2.2     1.2
c#           2.1     2.3     2.3     2.2
java         4.0     2.5     2.5     1.2
php          6.0     5.0     4.0     5.0

Обратитесь к строке "python".

In [19]:
df.loc["python"]

 group10    1.0
group2      2.0
group3      3.0
group4      2.0
Name: python, dtype: float64

Убрать "task" можно следующим образом.

In [20]:
df.index.name = None

Обратитесь к конткретному элементу таблицы.

In [21]:
df.loc["c#", "group3"]

2.3

Переименуйте столбец group10 в group1

In [22]:
df = df.rename({' group10':'group1'}, axis='columns')
df

        group1  group2  group3  group4
python     1.0     2.0     3.0     2.0
c++        2.3     1.2     2.2     1.2
c#         2.1     2.3     2.3     2.2
java       4.0     2.5     2.5     1.2
php        6.0     5.0     4.0     5.0

Сделайте срез из 3й и 4й строки.

In [23]:
df[2:4]

      group1  group2  group3  group4
c#       2.1     2.3     2.3     2.2
java     4.0     2.5     2.5     1.2

Сделайте срез из 2ого и 3его столбов.

In [24]:
df.loc[:, "group3":]

        group3  group4
python     3.0     2.0
c++        2.2     1.2
c#         2.3     2.2
java       2.5     1.2
php        4.0     5.0

Получите все строки, соответствующие отметкам по которым group1 получила оценку выше тройки

In [25]:
df[df['group1'] > 3]

      group1  group2  group3  group4
java     4.0     2.5     2.5     1.2
php      6.0     5.0     4.0     5.0

Посчитать среднюю отметку для каждого предмета.

In [26]:
df.mean(axis=1)

python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Посчитать среднюю отметку для каждого языка (используйте транспонирование ".T").

In [27]:
df.T.mean()

python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Тоже самое, только используйте направление (axis).

In [28]:
df.mean(axis=1)

python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Найдите min для языков.

In [29]:
df.T.min()

python    1.0
c++       1.2
c#        2.1
java      1.2
php       4.0
dtype: float64

Найдите max для языков.

In [30]:
df.T.max()

python    3.0
c++       2.3
c#        2.3
java      4.0
php       6.0
dtype: float64

Тоже самое с группами.

In [32]:
df.min()
df.max()

group1    6.0
group2    5.0
group3    4.0
group4    5.0
dtype: float64

# Часть 2. Более сложный датафрейм

Далее будем использовать открытые данные Москвы.

In [54]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)

Таблица большая, выаедем несколько строк df.head()

In [55]:
df.head()

,﻿ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,5,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN

Выведите столбец ROWNUM

In [37]:
df['ROWNUM']

0      1
1      2
2      3
3      4
4      5
      ..
66    67
67    68
68    69
69    70
70    71
Name: ROWNUM, Length: 71, dtype: int64

Не все так просто. Ответ - нет такого столбца. Но он же есть!

Воспользуйтесь командой list для вывода столбцов.

In [38]:
list(df)

['ROWNUM',
 'Region',
 'TariffItem',
 'UnitOfMeasure',
 'StartDate',
 'EndDate',
 'MeasureDeviceAvail',
 'StoveType',
 'ConsumptionTime',
 'ConsumptionTarget',
 'Agency',
 'TariffValue',
 'global_id',
 'Unnamed: 13']

Перед ROWNUM есть невидимый символ, кодирующийся как \ufeff. Чтобы его не считать, нужно использовать encoding='utf-8-sig'

In [53]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';',
    encoding = 'utf-8-sig'
)

Покажите, что ошибка исправлена (df['ROWNUM'])

In [54]:
df['ROWNUM']

0      1
1      2
2      3
3      4
4      5
      ..
66    67
67    68
68    69
69    70
70    71
Name: ROWNUM, Length: 71, dtype: int64

Данных столбец нам в этом виде не понадобится. Сделаейте его индексом строк.

In [55]:
df['ROWNUM'] = df.index

Продемонстрируйте.

In [56]:
df

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,0,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,1,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,3,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,66,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693301,NaN
67,67,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,электрическая,без дифференциации по времени потребления,на бытовые нужды,ОАО «Мосэнергосбыт»,2.65,19693599,NaN
68,68,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693614,NaN
69,69,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693676,NaN
70,70,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

 В таблице собраны разные данные: тарифы на электроэнергию, газ т.д. Запишите в q_gas данные за газ.

In [57]:
q_gas = df[df['TariffItem'] == 'Газ']
q_gas.head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Теперь, используя groupby, запишите в groups различные тарифы. Теперь выведите тарифы за Водоотведение.

In [58]:
groups = df.groupby('TariffItem')
groups.get_group('Газ').head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Выведите список групп.

In [59]:
groups.groups.keys()

dict_keys(['Водоотведение', 'Газ', 'Горячее водоснабжение', 'Отопление', 'Твердое топливо', 'Холодное водоснабжение', 'Электроэнергия'])

Посчитайте средние тарифы.

In [60]:
df.groupby('TariffItem').mean()

                           ROWNUM  TariffValue     global_id  Unnamed: 13
TariffItem
Водоотведение           23.000000    17.950000  1.969357e+07          NaN
Газ                     31.050000   651.415000  1.969359e+07          NaN
Горячее водоснабжение   25.833333   100.095000  1.969352e+07          NaN
Отопление               41.666667  1208.423333  1.969363e+07          NaN
Твердое топливо         52.000000  1126.000000  1.969363e+07          NaN
Холодное водоснабжение  58.666667    25.223333  1.969364e+07          NaN
Электроэнергия          36.312500     2.571250  1.969359e+07          NaN

Далее приведем в порядок тарифы за газ. Вычислите кол-во различных UnitOfMeasure (единица измерения).

In [61]:
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         8
руб/чел           6
руб/1000 куб.м    4
руб/кв.м          2
Name: UnitOfMeasure, dtype: int64

Замените руб/кв.м на руб/куб.м (это ошибка).

In [62]:
qkvm = q_gas['UnitOfMeasure'] == 'руб/куб.м'
q_gas[qkvm]

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
12,12,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693623,NaN
13,13,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,"на отопление жилых помещений, а также в случае...",ООО «Мосрегионгаз»,2.93,19693594,NaN
21,21,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693685,NaN
23,23,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693307,NaN
70,70,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

In [63]:
q_gas = q_gas.copy()
q_gas.loc[qkvm, 'UnitOfMeasure'] = "руб/куб.м"
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         8
руб/чел           6
руб/1000 куб.м    4
руб/кв.м          2
Name: UnitOfMeasure, dtype: int64

Все значения в строках где руб/1000 куб.м умножьте на 1000.

In [64]:
q_gas.loc[q_gas['UnitOfMeasure'] == "руб/1000 куб.м", "TariffValue"] *= 1000
q_gas

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693625,NaN
12,12,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693623,NaN
13,13,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,"на отопление жилых помещений, а также в случае...",ООО «Мосрегионгаз»,2.93,19693594,NaN
14,14,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,42.49,19693680,NaN
21,21,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693685,NaN
22,22,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,97.76,19693306,NaN
23,23,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693307,NaN
31,31,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,84.98,19693621,NaN
35,35,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,48.88,19693681,NaN
45,45,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,39.01,19693305,NaN
51,51,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN
59,59,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693626,NaN
61,61,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693627,NaN
63,63,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693628,NaN
65,65,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,33.91,19693679,NaN
70,70,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

Измените единицу измерения на руб/куб.м.

In [65]:
e = q_gas['UnitOfMeasure'] == 'руб/1000 куб.м'
q_gas.loc[e, 'UnitOfMeasure'] = "руб/куб.м"
q_gas

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693625,NaN
12,12,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693623,NaN
13,13,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,"на отопление жилых помещений, а также в случае...",ООО «Мосрегионгаз»,2.93,19693594,NaN
14,14,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,42.49,19693680,NaN
21,21,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693685,NaN
22,22,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,97.76,19693306,NaN
23,23,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693307,NaN
31,31,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,84.98,19693621,NaN
35,35,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,48.88,19693681,NaN
45,45,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,39.01,19693305,NaN
51,51,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN
59,59,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693626,NaN
61,61,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693627,NaN
63,63,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693628,NaN
65,65,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,33.91,19693679,NaN
70,70,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

Повторно пересчитайте тарифы. Строк с "руб/куб.м" должно быть 12.

In [66]:
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м    12
руб/чел       6
руб/кв.м      2
Name: UnitOfMeasure, dtype: int64

Для всех таких строк вызовите метод describe().

In [67]:
q_gas.loc[q_gas['UnitOfMeasure'] == 'руб/куб.м'].describe()

          ROWNUM   TariffValue     global_id  Unnamed: 13
count  12.000000  1.200000e+01  1.200000e+01          0.0
mean   29.666667  1.050003e+06  1.969361e+07          NaN
std    25.403412  1.556614e+06  1.000677e+02          NaN
min     6.000000  2.930000e+00  1.969331e+07          NaN
25%    10.750000  4.090000e+00  1.969362e+07          NaN
50%    17.000000  4.700000e+00  1.969363e+07          NaN
75%    59.500000  2.930000e+06  1.969364e+07          NaN
max    70.000000  3.370000e+06  1.969368e+07          NaN

# Часть 3. Более сложные запросы

Из исходной таблицы сделайте выборку тех строк, в которых в качестве единицы измерения указаны руб/кв.м и указан тариф на газ.

In [68]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)
df_f = df.loc[df['UnitOfMeasure'] == 'руб/кв.м']
df_f = df_f.loc[df_f['TariffItem'] == 'Газ']
df_f

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

Сделайте такой же запрос через query.

In [69]:
df.query('TariffItem == "Газ" and UnitOfMeasure == "руб/кв.м" and TariffValue != ""')

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

Далее использовать будем открытые данные Москвы за 2016 год. Используйте для этого файл tariff.json. Преобразуйте в необходимый формат.

In [71]:
df = pd.read_json('tariff.json')
df = df.query('Region == "город Москва (за исключением Троицкого и Новомосковского АО)"')
df

,ID,Region,TariffItem,global_id,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue
0,3563,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,170861214,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго»",151.360
1,3564,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,170861215,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,ОАО «Мосэнерго»,130.270
2,3565,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,170861216,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,ОАО «Мосэнерго»,120.820
25,3606,город Москва (за исключением Троицкого и Новом...,Отопление,170861258,руб/Гкал,01.01.2016,30.06.2016,да/нет,,,,ОАО «Мосэнерго» - тариф на производство теплов...,923.830
26,3607,город Москва (за исключением Троицкого и Новом...,Отопление,170861259,руб/Гкал,01.07.2016,31.12.2016,да/нет,,,,ОАО «Мосэнерго» - тариф на производство теплов...,1006.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,3652,город Москва (за исключением Троицкого и Новом...,Газ,170861619,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва» и другие,6.160
366,3653,город Москва (за исключением Троицкого и Новом...,Газ,170861620,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва» и другие,6.160
367,3654,город Москва (за исключением Троицкого и Новом...,Газ,170861621,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва» и другие,4.421
405,3692,город Москва (за исключением Троицкого и Новом...,Холодное водоснабжение,170861659,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,АО «Мосводоканал» за исключением Новомосковско...,30.870
406,3693,город Москва (за исключением Троицкого и Новом...,Холодное водоснабжение,170861660,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,АО «Мосводоканал» за исключением Новомосковско...,33.000

Вычислите средний тарифф.

In [72]:
df["TariffValue"].mean()

516.7137356321841

Придумайте себе два запроса и реализуйте их ниже.

In [73]:
df.query('UnitOfMeasure == "руб/куб.м" and TariffItem == "Холодное водоснабжение"')

,ID,Region,TariffItem,global_id,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue
315,3756,город Москва (за исключением Троицкого и Новом...,Холодное водоснабжение,170861568,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,ОАО «РЖД» (Московского территориального участк...,32.95
316,3757,город Москва (за исключением Троицкого и Новом...,Холодное водоснабжение,170861569,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,ОАО «РЖД» (Московского территориального участк...,35.00
405,3692,город Москва (за исключением Троицкого и Новом...,Холодное водоснабжение,170861659,руб/куб.м,01.01.2016,30.06.2016,да/нет,,,,АО «Мосводоканал» за исключением Новомосковско...,30.87
406,3693,город Москва (за исключением Троицкого и Новом...,Холодное водоснабжение,170861660,руб/куб.м,01.07.2016,31.12.2016,да/нет,,,,АО «Мосводоканал» за исключением Новомосковско...,33.00

In [74]:
df.query('UnitOfMeasure == "руб/Гкал" and EndDate == "30.06.2016"')

,ID,Region,TariffItem,global_id,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue
25,3606,город Москва (за исключением Троицкого и Новом...,Отопление,170861258,руб/Гкал,01.01.2016,30.06.2016,да/нет,,,,ОАО «Мосэнерго» - тариф на производство теплов...,923.83
53,3450,город Москва (за исключением Троицкого и Новом...,Отопление,170861286,руб/Гкал,01.01.2016,30.06.2016,да/нет,,,,ОАО «МОЭК» и иные организации - тариф на тепло...,1944.62
55,3452,город Москва (за исключением Троицкого и Новом...,Отопление,170861288,руб/Гкал,01.01.2016,30.06.2016,да/нет,,,,ОАО «МОЭК» - тариф на услуги по передаче тепло...,527.94